<div style="width: 100%; font-family: Helvetica, san-serif; background: #fff">
    <div style="margin: 60px auto; max-width: 680px">
        <span style="display: block; padding: 10px 0; line-height: 20px">Thân chào<b> <%= name %> </b></span>
        <span style="display: block; margin-top: 15px; line-height: 24px">
            Chúc mừng bạn đã đăng ký tài khoản thành công tại xcel.vn.
        </span>
        <span style="display: block; margin: 20px 0; line-height: 24px; color: #828282">
            Vui lòng giữ mọi thông tin đăng nhập ở chế độ an toàn.</span>
        <span style="display: block; margin-top: 20px; font-size: 13px; color: #bdbdbd">
            <i>* Vui lòng không phản hồi lại mail. Đây là mail tự động của hệ thống</i></span>
        <span style="display: block; margin-top: 20px">Trân trọng!</span>

        <span style="border-top: 1px solid #d09f1f; display: block; margin-top: 20px; padding: 15px 0">
            <img src="<%= website %>/bw_image/logo.png" alt="logo" />
        </span>
    </div>
</div>
