<!DOCTYPE html>
<html>

<head>
  <title>Phiếu chuyển kho</title>
  <meta charset="UTF-8">
</head>

<body style="margin: 0; padding: 0; font-size: 13px; font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
  <% var products = data.products; %>
  <% for(var i = 0; i < products.length; i++) { %>
  <% for(var j = 0; j < products[i].total_barcode; j++) { %>
  <% if(products[i].isShowLogo) { %>
  <!-- 40x30 -->
  <% if(products[i].height === 30) { %>
  <div class="qr_code_ejs" style="width: 40mm; height: 30mm; background: #fff; border-radius: 1mm; margin: 1px auto; ">
    <div style="overflow: hidden; text-align: center;">
      <img class="imgLogo" style="width: 30mm; margin: 1mm auto; margin-bottom: 0; " src="http://shopdunk-html.blackwind.vn/bw_image/logo-2.png">
    </div>
    <div style="overflow: hidden; border-top: 1px solid #dddddd; margin-bottom: 10px; display: flex; align-items: center; gap: 3px">
      <img style="width: 16mm; height: 16mm; margin-top: 1mm; margin-left: 1mm; float: left; " src="<%= products[i].src %>">
      <div style="float: right; width: 21mm;">
        <% if(products[i].is_show_name){ %>
        <p style="margin: 0; padding: 0; font-size: 6.5px; padding-right: 1mm; "><%= products[i].product_name; %></p>
        <% } %>
        <% if(products[i].is_show_code){ %>
        <p style="margin: 0; padding: 0; font-size: 7px; padding-right: 1mm; "><%= products[i].product_code; %></p>
        <% } %>
        <% if(products[i].is_show_price){ %>
        <p style="margin: 0; padding: 0; font-size: 7px; font-weight: bold;  padding-right: 1mm;"><%= products[i].price; %> đ</p>
        <% } %>
      </div>
    </div>
  </div>
  <% } %>
  <!-- 35x22 -->
  <% if(products[i].height === 22) { %>
  <div class="qr_code_ejs" style="width: 35mm; height: 22mm; background: #fff; border-radius: 1mm; margin: 1px auto; margin-bottom: 15px;">
    <div style="overflow: hidden; text-align: center;">
      <img style="width: 23mm; margin: 1mm auto; margin-bottom: 0;" src="http://shopdunk-html.blackwind.vn/bw_image/logo-2.png">
    </div>
    <div style="overflow: hidden; border-top: 1px solid #dddddd; margin-bottom: 10px; display: flex; align-items: center; gap: 3px">
      <img style="width: 13mm; height: 13mm; margin-top: 1mm; margin-left: 0.5mm; float: left;" src="<%= products[i].src %>">
      <div style="width: 21mm;">
        <% if(products[i].is_show_name){ %>
        <p style="margin: 0; padding: 0; font-size: 6px; padding-right: 1mm;"><%= products[i].product_name; %></p>
        <% } %>
        <% if(products[i].is_show_code){ %>
        <p style="margin: 0; padding: 0; font-size: 6.5px; padding-right: 1mm;"><%= products[i].product_code; %></p>
        <% } %>
        <% if(products[i].is_show_price){ %>
        <p style="margin: 0; padding: 0; font-size: 6.5px; font-weight: bold; margin-top: 0.2mm; padding-right: 1mm;"><%= products[i].price; %> đ</p>
        <% } %>
      </div>
    </div>
  </div>
  <% } %>
  <% } else { %>
  <!-- 35x15 -->
  <div class="qr_code_ejs" style="width: 35mm; height: 15mm; background: #fff; border-radius: 1mm; margin: 5px 0; overflow: hidden; display: flex; align-items: center; gap: 3px">
    <img style="width: 13mm; height: 13mm; margin-top: 1mm; margin-left: 0.5mm; float: left;" src="<%= products[i].src %>">
    <div style="width: 21mm;">
      <% if(products[i].is_show_name){ %>
      <p style="margin: 0; font-size: 5px; padding-right: 1mm;"><%= products[i].product_name; %></p>
      <% } %>
      <% if(products[i].is_show_code){ %>
      <p style="margin: 0; padding: 0; font-size: 6.5px; padding-right: 1mm;"><%= products[i].product_code; %></p>
      <% } %>
      <% if(products[i].is_show_price){ %>
      <p style="margin: 0; padding: 0; font-size: 6.5px; font-weight: bold; padding-right: 1mm;"><%= products[i].price; %> đ</p>
      <% } %>
    </div>
  </div>
  <% } %>
  <% } %>
  <% } %>
</body>



<script data-width="<%= data.width  %>" data-height="<%= data.height  %>">
  for (const item of document.querySelectorAll('.qr_code_ejs')) {
    item.style.width = `${document.currentScript.dataset.width}mm`
    item.style.height = `${document.currentScript.dataset.height}mm`
    for (const c of item.querySelectorAll('.qr_content')) {
      if (c.dataset.bold === 'true') c.style.fontWeight = 'bold';
    }
  }
</script>

</html>